.box1{
    width: 200px;
    height: 200px;
    background-color: crimson;
    transition: width 5s, height2s;
    /* transition-duration: 5s;
    transition-timing-function:cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition-delay: 3s; */
}
.box1:hover{
    font-size: 50px;
    text-align: center;
    border-radius: 20px;
    width: 400px;
    height: 400px;
    border: 2px solid green;
    background-image: url(./images_videos/shara\ desert.jpg);
    transform:rotate(60deg);
}